@import '../../../scssStyles/mixins';

:root {
  --top-left-corner-border: url('src/assets/buttons/top-left-corner-border.svg');
  --bottom-right-corner-border: url('src/assets/buttons/bottom-right-corner-border.svg');
}

.dark-mode {
  --top-left-corner-border: url('src/assets/buttons/top-left-corner-border-dark.svg');
  --bottom-right-corner-border: url('src/assets/buttons/bottom-right-corner-border-dark.svg');
}

.button {
  margin: 15px 10px;
  background-color: var(--light-purple);
  color: var(--white);
  display: inline-block;
  border-radius: 14px;
  padding: 14px 30px;
  box-shadow: var(--shadow);
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  cursor: url('../../../../assets/cursor/cursor-2t4.png'), auto;
  transition: transform 200ms, background-color 200ms;
  user-select: none;
  position: relative;

  //BUTTON BORDERS
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &::before {
    top: -10px;
    left: -10px;
    background-image: var(--top-left-corner-border);
  }

  &::after {
    bottom: -45px;
    right: -15px;
    background-image: var(--bottom-right-corner-border);
  }

  //BUTTON BORDERS END

  &:hover {
    transform: scale(1.02);
    transition: transform 200ms;
  }

  &:active,
  &:focus {
    transform: scale(0.97);
    transition: transform 150ms;
  }

  @include devices(tablet) {
    font-size: 16px;
    padding: 15px 38px;
    margin: 8px 6px;
  }
}

.button-secondary {
  background-color: var(--yellow);
  color: var(--text-dark);
}

.button-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: var(--button-disabled);
  color: var(--white);
  transition: background-color 200ms;

  &:hover {
    transform: scale(1);
  }

  &:active {
    transform: scale(1);
  }
}
