@import '../../scssStyles/mixins';

.scunt-judges-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 25px 0;
}

.scunt-judges-bribe-message-popup {
  text-align: center;
  color: var(--white);
  margin-top: 5px;
  font-size: 17px;
}

.scunt-judges-profile {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  object-position: center; /* Center the image within the container */
}
