@import '../../../scssStyles/_mixins.scss';

:root {
  --top-left-corner-border: url('src/assets/buttons/top-left-corner-border.svg');
  --bottom-right-corner-border: url('src/assets/buttons/bottom-right-corner-border.svg');
}

.dark-mode {
  --top-left-corner-border: url('src/assets/buttons/top-left-corner-border-dark.svg');
  --bottom-right-corner-border: url('src/assets/buttons/bottom-right-corner-border-dark.svg');
}

.button-outlined {
  margin: 15px 10px;
  background-color: var(--button-outlined-bg);
  color: var(--button-outlined-font);
  display: inline-block;
  border-radius: 14px;
  padding: 10px 26px;
  box-shadow: var(--shadow);
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  cursor: url('../../../../assets/cursor/cursor-2t4.png'), auto; // Apply custom cursor here
  transition: transform 200ms;
  user-select: none;
  border-width: 4px;
  border-color: var(--light-purple);
  border-style: solid;
  position: relative;

  //BUTTON BORDERS
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &::before {
    top: -10px;
    left: -10px;
    background-image: var(--top-left-corner-border);
  }

  &::after {
    bottom: -45px;
    right: -15px;
    background-image: var(--bottom-right-corner-border);
  }

  //BUTTON BORDERS END

  &:hover {
    transform: scale(1.02);
    transition: transform 200ms;
  }

  &:active {
    transform: scale(0.97);
    transition: transform 150ms;
  }

  @include devices(tablet) {
    font-size: 16px;
    padding: 10px 30px;
    border-width: 3px;
    margin: 8px 6px;
  }
}

.button-outlined-secondary {
  background-color: var(--button-outlined-bg-secondary);
  border-color: var(--button-outlined-border); //--purple-shades-muted
  color: var(--button-outlined-font);
  font-weight: unset;
  transition: transform 200ms, background-color 200ms, border-color 200ms;

  &:hover {
    transition: transform 200ms, background-color 200ms, border-color 200ms;
    background-color: var(--purple-shades-light);
    border-color: var(--light-purple);
  }
}

.button-outlined-disabled {
  opacity: 0.6;
  cursor: unset;
  background-color: var(--on-white);
  border-color: var(--button-outlined-disabled-border);
  font-weight: unset;

  &:hover {
    transform: scale(1);
  }

  &:active {
    transform: scale(1);
  }
}
