.ash-initial-page {
  width: 100vw;
  height: 100vh;

  overflow-y: hidden;
  overflow-x: hidden;

  background: linear-gradient(
    180deg,
    var(--purple) 0%,
    var(--light-purple) 50%,
    var(--purple-shades-dark) 100%
  );

  color: var(--white);
  padding: 20px;
}

/* TITLE SECTION */
.ash-title {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 0 auto;

  text-align: center;
  padding-top: 20%;
}
.ash-title-text {
  font-size: 64px;
  font-style: bold;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}
hr.ash-line {
  top: 10px;
  width: 851px;
  height: 0px;
  border: 2px solid var(--yellow);
  border-radius: 100px;
  margin-bottom: 24px;
}
.ash-subtitle {
  font-size: 20px;
  letter-spacing: 0.05em;
}

/* LINKS SECTION */
.ash-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  max-width: 851px;
  margin: 0 auto;
  padding-top: 70px;
}
.ash-button-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 auto;
  max-width: 851px;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
}
.ash-button {
  display: flex;
  align-items: center;
  width: 410px;
  margin: 0 auto;
  padding: 10px 20px;
  background: var(--white);
  border-radius: 100px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--shadow);
  transition: transform 200ms, background-color 200ms, box-shadow 0.3s;

  &:hover {
    transform: scale(1.02);
  }
  &:active,
  &:focus {
    transform: scale(0.97);
    transition: transform 150ms;
  }
}

.ash-button:hover {
  background: var(--yellow);
  color: var(--purple-shades-dark);
  transition: 0.3s;
}
.ash-button-icon {
  width: 30px;
  height: 30px;
}
.ash-button-text {
  color: var(--purple-shades-dark);
  margin-left: 7px;
  margin: auto;
}

/* FOOTER */
.ash-footer {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: var(--purple-shades-muted);
}
.ash-footer-text {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0.1em;
}

/***************** MOBILE VIEW *******************/

@media screen and (max-width: 428px) {
  /*	CSS for screens that are 428 pixels or less 
		i.e. the largest screen width is an iphone 13 pro max thing
	*/

  .ash-title {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    max-width: 274px;
    margin: 0 auto;

    text-align: center;
    padding-top: 60%;
  }
  .ash-title-text {
    font-style: bold;
    font-size: 20px;
    letter-spacing: 0.1em;

    text-align: center;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);

    margin-bottom: 10px;
  }
  hr.ash-line {
    width: 274px;
    border: 1px solid var(--yellow);
    border-radius: 100px;
    margin-bottom: 10px;
  }
  .ash-subtitle {
    font-size: 12px;
    max-width: 274px;
    letter-spacing: 0.03em;
  }

  .ash-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;

    max-width: 274px;
    margin: 0 auto;

    padding-top: 10%;
  }

  .ash-button {
    width: 274px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 11px;
    letter-spacing: 0.05em;
  }

  .ash-ash-button-container {
    grid-template-columns: 1fr;
  }

  .ash-ash-button-text {
    font-size: 10px;
  }

  .ash-footer-text {
    font-size: 8px;
    letter-spacing: 0.1em;
  }
}
